#elem1 {
    position: absolute;
    top: 50px;
    left: 50px;

	width: 100px;
	height: 100px;
	border: 1px solid red;
}
#elem2 {
	position: absolute;
	top: 155px;
	left: 155px;
	
	width: 100px;
	height: 100px;
	border: 1px solid blue;
}
#elem3{
    position: absolute;
    top: 255px;
    left: 255px;

    width: 100px;
    height: 100px;
    border: 1px solid green;
}
#elem4 {
    position: relative;
    top: 300px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #FF8888;
}
#elem5 {
    position: relative;
    top: 250px;
    left: 50px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #7E89EB;
}
#elem6 {
    position: relative;
    top: 215px;
    left: 110px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #4DEE99;
}
#parent4{
	position: relative;
	top: 200px;
	width: 300px;
	height: 300px;
	margin: auto;
	background-color: darkgoldenrod;
	border-radius: 50%;
}
#eye{
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: white;
	top: 70px;
	left: 60px;
}
#eye1{
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: white;
	right: -120px;
}
#eye2{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	top: 80px;
	left: 62px;
}
#child41{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50% ;
	background-color: white;
	top: 50px;
	left: 45px;
}
#child42{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: darkgoldenrod;
	top: 35px;
	left: 45px;
}
#parent3{
	position: absolute;
	width: 400px;
	height: 400px;
	margin-top: 200px;
	border: 1px solid red;
}
.child3{
	position: absolute;
	width: 50px;
	height: 50px;
	

}
.child3.child31{
	background-color: #4DEE99;
	left: 0px;
	bottom: 0px;
}
.child3.child32{
	background-color: #4DEE99;
	right: 0px;
	top: 0px;
}
#parent200{
	margin-top: 200px;
	margin-left: 500px;
	position: absolute;
	width: 300px;
	height: 300px;
	border: 3px solid blue;
}
#child200{
	position: relative;
	width: 50px;
	height: 50px;
	border: 1px solid green;
	top: 2px;
	left: 20px;
}
#child220{
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid green;
	top: 2px;
	right: 20px;
}